<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Dashbord{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/menuAdmin.css') }}" />
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="{{ asset('css/bootstrap/js/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {% block body %}
        
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
