<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}ZahraShop | Accueil!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/style.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/bootstrap/css/styleCatgorie.css') }}" />
        <script src="{{ asset('css/bootstrap/js/jquery-3.1.0.min.js') }}"></script>
        <script src="{{ asset('css/bootstrap/js/bootstrap.min.js') }}"></script>
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
